SELECT
  t.object_id,
  t.g_inputcount_value,
  t.g_sdsscentroid_flag,
  t.g_sdssshape_flag,
  t.g_sdssshape_shape11,
  t.g_sdssshape_shape11err,
  t.g_sdssshape_shape12,
  t.g_sdssshape_shape12err,
  t.g_sdssshape_shape22,
  t.g_sdssshape_shape22err,
  t.i_inputcount_value,
  t.i_sdsscentroid_flag,
  t.i_sdssshape_flag,
  t.i_sdssshape_shape11,
  t.i_sdssshape_shape11err,
  t.i_sdssshape_shape12,
  t.i_sdssshape_shape12err,
  t.i_sdssshape_shape22,
  t.i_sdssshape_shape22err,
  t.r_inputcount_value,
  t.r_sdsscentroid_flag,
  t.r_sdssshape_flag,
  t.r_sdssshape_shape11,
  t.r_sdssshape_shape11err,
  t.r_sdssshape_shape12,
  t.r_sdssshape_shape12err,
  t.r_sdssshape_shape22,
  t.r_sdssshape_shape22err,
  t.y_inputcount_value,
  t.y_sdsscentroid_flag,
  t.y_sdssshape_flag,
  t.y_sdssshape_shape11,
  t.y_sdssshape_shape11err,
  t.y_sdssshape_shape12,
  t.y_sdssshape_shape12err,
  t.y_sdssshape_shape22,
  t.y_sdssshape_shape22err,
  t.z_inputcount_value,
  t.z_sdsscentroid_flag,
  t.z_sdssshape_flag,
  t.z_sdssshape_shape11,
  t.z_sdssshape_shape11err,
  t.z_sdssshape_shape12,
  t.z_sdssshape_shape12err,
  t.z_sdssshape_shape22,
  t.z_sdssshape_shape22err
FROM la2020.forced_other AS t
INNER JOIN la2020.forced AS f ON f.object_id = t.object_id
WHERE f.isprimary
  AND tractSearch(f.object_id, {tract})
