SELECT
  f.object_id,
  f.a_g,
  f.a_i,
  f.a_r,
  f.a_y,
  f.a_z,
  f.dec,
  f.g_cmodel_dev_flag,
  f.g_cmodel_dev_flux,
  f.g_cmodel_dev_fluxerr,
  f.g_cmodel_exp_flag,
  f.g_cmodel_exp_flux,
  f.g_cmodel_exp_fluxerr,
  f.g_cmodel_flag,
  f.g_cmodel_flux,
  f.g_cmodel_fluxerr,
  f.g_cmodel_fracdev,
  f.g_extendedness_flag,
  f.g_extendedness_value,
  f.g_pixelflags,
  f.g_pixelflags_bad,
  f.g_pixelflags_bright_object,
  f.g_pixelflags_bright_objectcenter,
  f.g_pixelflags_clipped,
  f.g_pixelflags_clippedcenter,
  f.g_pixelflags_cr,
  f.g_pixelflags_crcenter,
  f.g_pixelflags_edge,
  f.g_pixelflags_inexact_psf,
  f.g_pixelflags_inexact_psfcenter,
  f.g_pixelflags_interpolated,
  f.g_pixelflags_interpolatedcenter,
  f.g_pixelflags_offimage,
  f.g_pixelflags_rejected,
  f.g_pixelflags_rejectedcenter,
  f.g_pixelflags_saturated,
  f.g_pixelflags_saturatedcenter,
  f.g_pixelflags_sensor_edge,
  f.g_pixelflags_sensor_edgecenter,
  f.g_pixelflags_suspect,
  f.g_pixelflags_suspectcenter,
  f.i_cmodel_dev_flag,
  f.i_cmodel_dev_flux,
  f.i_cmodel_dev_fluxerr,
  f.i_cmodel_exp_flag,
  f.i_cmodel_exp_flux,
  f.i_cmodel_exp_fluxerr,
  f.i_cmodel_flag,
  f.i_cmodel_flux,
  f.i_cmodel_fluxerr,
  f.i_cmodel_fracdev,
  f.i_extendedness_flag,
  f.i_extendedness_value,
  f.i_pixelflags,
  f.i_pixelflags_bad,
  f.i_pixelflags_bright_object,
  f.i_pixelflags_bright_objectcenter,
  f.i_pixelflags_clipped,
  f.i_pixelflags_clippedcenter,
  f.i_pixelflags_cr,
  f.i_pixelflags_crcenter,
  f.i_pixelflags_edge,
  f.i_pixelflags_inexact_psf,
  f.i_pixelflags_inexact_psfcenter,
  f.i_pixelflags_interpolated,
  f.i_pixelflags_interpolatedcenter,
  f.i_pixelflags_offimage,
  f.i_pixelflags_rejected,
  f.i_pixelflags_rejectedcenter,
  f.i_pixelflags_saturated,
  f.i_pixelflags_saturatedcenter,
  f.i_pixelflags_sensor_edge,
  f.i_pixelflags_sensor_edgecenter,
  f.i_pixelflags_suspect,
  f.i_pixelflags_suspectcenter,
  f.isprimary,
  f.merge_measurement_g,
  f.merge_measurement_i,
  f.merge_measurement_n387,
  f.merge_measurement_n515,
  f.merge_measurement_n816,
  f.merge_measurement_n921,
  f.merge_measurement_r,
  f.merge_measurement_y,
  f.merge_measurement_z,
  f.patch,
  f.r_cmodel_dev_flag,
  f.r_cmodel_dev_flux,
  f.r_cmodel_dev_fluxerr,
  f.r_cmodel_exp_flag,
  f.r_cmodel_exp_flux,
  f.r_cmodel_exp_fluxerr,
  f.r_cmodel_flag,
  f.r_cmodel_flux,
  f.r_cmodel_fluxerr,
  f.r_cmodel_fracdev,
  f.r_extendedness_flag,
  f.r_extendedness_value,
  f.r_pixelflags,
  f.r_pixelflags_bad,
  f.r_pixelflags_bright_object,
  f.r_pixelflags_bright_objectcenter,
  f.r_pixelflags_clipped,
  f.r_pixelflags_clippedcenter,
  f.r_pixelflags_cr,
  f.r_pixelflags_crcenter,
  f.r_pixelflags_edge,
  f.r_pixelflags_inexact_psf,
  f.r_pixelflags_inexact_psfcenter,
  f.r_pixelflags_interpolated,
  f.r_pixelflags_interpolatedcenter,
  f.r_pixelflags_offimage,
  f.r_pixelflags_rejected,
  f.r_pixelflags_rejectedcenter,
  f.r_pixelflags_saturated,
  f.r_pixelflags_saturatedcenter,
  f.r_pixelflags_sensor_edge,
  f.r_pixelflags_sensor_edgecenter,
  f.r_pixelflags_suspect,
  f.r_pixelflags_suspectcenter,
  f.ra,
  f.tract,
  f.y_cmodel_dev_flag,
  f.y_cmodel_dev_flux,
  f.y_cmodel_dev_fluxerr,
  f.y_cmodel_exp_flag,
  f.y_cmodel_exp_flux,
  f.y_cmodel_exp_fluxerr,
  f.y_cmodel_flag,
  f.y_cmodel_flux,
  f.y_cmodel_fluxerr,
  f.y_cmodel_fracdev,
  f.y_extendedness_flag,
  f.y_extendedness_value,
  f.y_pixelflags,
  f.y_pixelflags_bad,
  f.y_pixelflags_bright_object,
  f.y_pixelflags_bright_objectcenter,
  f.y_pixelflags_clipped,
  f.y_pixelflags_clippedcenter,
  f.y_pixelflags_cr,
  f.y_pixelflags_crcenter,
  f.y_pixelflags_edge,
  f.y_pixelflags_inexact_psf,
  f.y_pixelflags_inexact_psfcenter,
  f.y_pixelflags_interpolated,
  f.y_pixelflags_interpolatedcenter,
  f.y_pixelflags_offimage,
  f.y_pixelflags_rejected,
  f.y_pixelflags_rejectedcenter,
  f.y_pixelflags_saturated,
  f.y_pixelflags_saturatedcenter,
  f.y_pixelflags_sensor_edge,
  f.y_pixelflags_sensor_edgecenter,
  f.y_pixelflags_suspect,
  f.y_pixelflags_suspectcenter,
  f.z_cmodel_dev_flag,
  f.z_cmodel_dev_flux,
  f.z_cmodel_dev_fluxerr,
  f.z_cmodel_exp_flag,
  f.z_cmodel_exp_flux,
  f.z_cmodel_exp_fluxerr,
  f.z_cmodel_flag,
  f.z_cmodel_flux,
  f.z_cmodel_fluxerr,
  f.z_cmodel_fracdev,
  f.z_extendedness_flag,
  f.z_extendedness_value,
  f.z_pixelflags,
  f.z_pixelflags_bad,
  f.z_pixelflags_bright_object,
  f.z_pixelflags_bright_objectcenter,
  f.z_pixelflags_clipped,
  f.z_pixelflags_clippedcenter,
  f.z_pixelflags_cr,
  f.z_pixelflags_crcenter,
  f.z_pixelflags_edge,
  f.z_pixelflags_inexact_psf,
  f.z_pixelflags_inexact_psfcenter,
  f.z_pixelflags_interpolated,
  f.z_pixelflags_interpolatedcenter,
  f.z_pixelflags_offimage,
  f.z_pixelflags_rejected,
  f.z_pixelflags_rejectedcenter,
  f.z_pixelflags_saturated,
  f.z_pixelflags_saturatedcenter,
  f.z_pixelflags_sensor_edge,
  f.z_pixelflags_sensor_edgecenter,
  f.z_pixelflags_suspect,
  f.z_pixelflags_suspectcenter
FROM la2020.forced AS f
WHERE f.isprimary
  AND tractSearch(f.object_id, {tract})
