SELECT
  t.object_id,
  t.g_apertureflux_10_flag,
  t.g_apertureflux_10_flux,
  t.g_apertureflux_10_fluxerr,
  t.g_apertureflux_20_flag,
  t.g_apertureflux_20_flux,
  t.g_apertureflux_20_fluxerr,
  t.g_apertureflux_30_flag,
  t.g_apertureflux_30_flux,
  t.g_apertureflux_30_fluxerr,
  t.g_apertureflux_40_flag,
  t.g_apertureflux_40_flux,
  t.g_apertureflux_40_fluxerr,
  t.i_apertureflux_10_flag,
  t.i_apertureflux_10_flux,
  t.i_apertureflux_10_fluxerr,
  t.i_apertureflux_20_flag,
  t.i_apertureflux_20_flux,
  t.i_apertureflux_20_fluxerr,
  t.i_apertureflux_30_flag,
  t.i_apertureflux_30_flux,
  t.i_apertureflux_30_fluxerr,
  t.i_apertureflux_40_flag,
  t.i_apertureflux_40_flux,
  t.i_apertureflux_40_fluxerr,
  t.r_apertureflux_10_flag,
  t.r_apertureflux_10_flux,
  t.r_apertureflux_10_fluxerr,
  t.r_apertureflux_20_flag,
  t.r_apertureflux_20_flux,
  t.r_apertureflux_20_fluxerr,
  t.r_apertureflux_30_flag,
  t.r_apertureflux_30_flux,
  t.r_apertureflux_30_fluxerr,
  t.r_apertureflux_40_flag,
  t.r_apertureflux_40_flux,
  t.r_apertureflux_40_fluxerr,
  t.y_apertureflux_10_flag,
  t.y_apertureflux_10_flux,
  t.y_apertureflux_10_fluxerr,
  t.y_apertureflux_20_flag,
  t.y_apertureflux_20_flux,
  t.y_apertureflux_20_fluxerr,
  t.y_apertureflux_30_flag,
  t.y_apertureflux_30_flux,
  t.y_apertureflux_30_fluxerr,
  t.y_apertureflux_40_flag,
  t.y_apertureflux_40_flux,
  t.y_apertureflux_40_fluxerr,
  t.z_apertureflux_10_flag,
  t.z_apertureflux_10_flux,
  t.z_apertureflux_10_fluxerr,
  t.z_apertureflux_20_flag,
  t.z_apertureflux_20_flux,
  t.z_apertureflux_20_fluxerr,
  t.z_apertureflux_30_flag,
  t.z_apertureflux_30_flux,
  t.z_apertureflux_30_fluxerr,
  t.z_apertureflux_40_flag,
  t.z_apertureflux_40_flux,
  t.z_apertureflux_40_fluxerr
FROM la2020.forced_aper AS t
INNER JOIN la2020.forced AS f ON f.object_id = t.object_id
WHERE f.isprimary
  AND tractSearch(f.object_id, {tract})
