SELECT
  t.object_id,
  t.g_convolvedflux_2_20_flag,
  t.g_convolvedflux_2_20_flux,
  t.g_convolvedflux_2_20_fluxerr,
  t.g_convolvedflux_3_20_flag,
  t.g_convolvedflux_3_20_flux,
  t.g_convolvedflux_3_20_fluxerr,
  t.g_convolvedflux_seeing,
  t.i_convolvedflux_2_20_flag,
  t.i_convolvedflux_2_20_flux,
  t.i_convolvedflux_2_20_fluxerr,
  t.i_convolvedflux_3_20_flag,
  t.i_convolvedflux_3_20_flux,
  t.i_convolvedflux_3_20_fluxerr,
  t.i_convolvedflux_seeing,
  t.r_convolvedflux_2_20_flag,
  t.r_convolvedflux_2_20_flux,
  t.r_convolvedflux_2_20_fluxerr,
  t.r_convolvedflux_3_20_flag,
  t.r_convolvedflux_3_20_flux,
  t.r_convolvedflux_3_20_fluxerr,
  t.r_convolvedflux_seeing,
  t.y_convolvedflux_2_20_flag,
  t.y_convolvedflux_2_20_flux,
  t.y_convolvedflux_2_20_fluxerr,
  t.y_convolvedflux_3_20_flag,
  t.y_convolvedflux_3_20_flux,
  t.y_convolvedflux_3_20_fluxerr,
  t.y_convolvedflux_seeing,
  t.z_convolvedflux_2_20_flag,
  t.z_convolvedflux_2_20_flux,
  t.z_convolvedflux_2_20_fluxerr,
  t.z_convolvedflux_3_20_flag,
  t.z_convolvedflux_3_20_flux,
  t.z_convolvedflux_3_20_fluxerr,
  t.z_convolvedflux_seeing
FROM la2020.forced_conv AS t
INNER JOIN la2020.forced AS f ON f.object_id = t.object_id
WHERE f.isprimary
  AND tractSearch(f.object_id, {tract})
